
window-rule {
  geometry-corner-radius 10
  clip-to-geometry true
}

// Rule for floating windows
/-window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  match app-id=r#"^lxqt-.*|pavu.*|.*copyq|qarma|.*portal-lxqt.*|.*conf$"#
  match title=r#"^Preferen.*|.*file.*|Password.*|Prop.*|Close.*|Select.*$"#
  match title=r#"^*Files"# // app-id="pcmanfm-qt"
  open-floating true
}

/-window-rule {
  match app-id="lxqt-archiver" title="Progress"
  open-floating true
}

// Not showing when screen capture
window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#
  block-out-from "screen-capture"
}

// For noctalia background settings.
layout {
  // background-color "transparent" // Transparent workspace backgrounds.
}

layer-rule {
  // match namespace="^noctalia-wallpaper*" // Stationary Wallpaper
  match namespace="^noctalia-overview*" // Blurred Overview Wallpaper and "Enable overview wallpaper" set ON
  place-within-backdrop true
}

// Disable the workspace shadows in the overview.
/-overview {
  workspace-shadow {
    off
  }
}
