
spawn-at-startup "noctalia-shell"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "qt6ct"
  XDG_MENU_PREFIX "plasma-"
}

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}

cursor {
  xcursor-theme "Imouto"
  xcursor-size 24

  hide-when-typing
  hide-after-inactive-ms 5000
}

/-output "HDMI-A-1" {
  mode "1920x1080@60"
}

include "./config/input.kdl"
include "./config/layout.kdl"
include "./config/animations.kdl"
include "./config/rules.kdl"
include "./config/binds.kdl"
include "./noctalia.kdl"
